@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}
@-webkit-keyframes fadeUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes scaleIn {
  50% {
    transform: scaleX(0.5);
  }
  60% {
    transform: scaleX(0.55);
  }
  80% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes scaleIn {
  50% {
    transform: scaleX(0.5);
  }
  60% {
    transform: scaleX(0.55);
  }
  80% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(1);
  }
}
/* line 178, ../scss/_mixins.scss */
.down-arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* line 183, ../scss/_mixins.scss */
.up-arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(320deg);
  -webkit-transform: rotate(320deg);
}

/* line 2, ../scss/_global.scss */
html,
body {
  width: 100vw;
  height: 100%;
  background-color: #d3c6af;
  color: #fff;
}

/* line 10, ../scss/_global.scss */
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 15, ../scss/_global.scss */
::-moz-selection {
  color: #292728;
  background-color: #e8d8ba;
}

/* line 19, ../scss/_global.scss */
::selection {
  color: #292728;
  background-color: #ead9bb;
}

/* line 24, ../scss/_global.scss */
body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #111;
}

/* line 28, ../scss/_global.scss */
section {
  max-width: 100vw;
}

/* line 32, ../scss/_global.scss */
a {
  color: #c18b4c;
  border-bottom: solid 2px rgba(193, 139, 76, 0.2);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 36, ../scss/_global.scss */
a:hover, a:focus {
  color: #c18b4c;
  text-decoration: none;
  border-bottom: solid 2px rgba(193, 139, 76, 0.9);
}
/* line 42, ../scss/_global.scss */
a.alt-link {
  display: inline-block;
  background-color: #fff;
  color: #c18b4c;
  font-weight: 800;
  text-transform: uppercase;
  padding: 2px 9px 2px 8px;
  border-radius: 1px;
}
/* line 50, ../scss/_global.scss */
a.alt-link:hover {
  background-color: #c18b4c;
  color: #fff;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
}

/* line 58, ../scss/_global.scss */
button {
  outline: none;
  border: none;
}
/* line 61, ../scss/_global.scss */
button:hover {
  outline: none;
  border: none;
}
/* line 65, ../scss/_global.scss */
button:focus {
  outline: none;
  border: none;
}
/* line 69, ../scss/_global.scss */
button:active {
  outline: none;
  border: none;
}

/* line 75, ../scss/_global.scss */
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(52, 52, 49, 0.1);
}

/* line 82, ../scss/_global.scss */
hr.light {
  border-color: white;
}

/* line 86, ../scss/_global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #111;
}

/* line 94, ../scss/_global.scss */
h1 {
  font-size: 3.9em;
  font-weight: 200;
}

/* line 99, ../scss/_global.scss */
h2 {
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* line 106, ../scss/_global.scss */
h3 {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: 1.3em;
}

/* line 112, ../scss/_global.scss */
h4 {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-weight: 700;
  font-size: 1.2em;
}

/* line 119, ../scss/_global.scss */
h5 {
  font-size: 0.9em;
  font-weight: 900;
}

/* line 124, ../scss/_global.scss */
h6 {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.7);
}

/* line 129, ../scss/_global.scss */
p {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 20px;
}

/* line 135, ../scss/_global.scss */
.p-wrapper {
  margin-bottom: 40px;
}

/* line 139, ../scss/_global.scss */
b {
  font-weight: 500;
}

/* line 143, ../scss/_global.scss */
input[type=email] {
  padding: 5px 10px;
  outline: none;
  border: solid 2px #111;
  border-radius: 7px;
  color: #111;
  background-color: rgba(30, 30, 30, 0.08);
  font-size: 1.4em;
  font-weight: 300;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 153, ../scss/_global.scss */
input[type=email]::placeholder {
  color: rgba(30, 30, 30, 0.5);
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 157, ../scss/_global.scss */
input[type=email]:hover {
  background-color: rgba(30, 30, 30, 0.055);
}
/* line 160, ../scss/_global.scss */
input[type=email]:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 161, ../scss/_global.scss */
input[type=email]:focus:-moz-placeholder {
  color: transparent;
}

/* line 163, ../scss/_global.scss */
input[type=submit] {
  margin-top: 10px;
  background-color: #c18b4c;
  color: #fff;
  font-weight: 400;
  text-shadow: 0px 2px rgba(30, 30, 30, 0.2);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 180, ../scss/_global.scss */
input[type=submit]:disabled {
  pointer-events: none;
  opacity: 0.3;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
/* line 186, ../scss/_global.scss */
input[type=submit]:hover {
  color: #c18b4c;
  background-color: #29262b;
}

/* line 192, ../scss/_global.scss */
.btn.disabled, .btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* line 197, ../scss/_global.scss */
button {
  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 12px 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.7em;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 211, ../scss/_global.scss */
button:hover {
  background-color: black;
  color: white;
}

/* line 217, ../scss/_global.scss */
a.btn {
  margin-top: 5px auto 10px;
  padding: 14px 24px;
  min-width: 200px;
  background-color: #c18b4c;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
/* line 229, ../scss/_global.scss */
a.btn:hover, a.btn:active {
  color: #fff;
  outline: none;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
}
/* line 235, ../scss/_global.scss */
a.btn::focus {
  outline: none;
}

/* line 240, ../scss/_global.scss */
li {
  list-style: none;
}

/* line 244, ../scss/_global.scss */
.primary-glow {
  box-shadow: 0 2px 60px 3px rgba(138, 199, 195, 0.15);
}
/* line 246, ../scss/_global.scss */
.primary-glow:hover {
  box-shadow: 0 2px 60px 2px rgba(138, 199, 195, 0.35);
}

/* line 251, ../scss/_global.scss */
.faint {
  opacity: 0.15;
}
/* line 253, ../scss/_global.scss */
.faint:hover {
  opacity: 1;
}

/* line 258, ../scss/_global.scss */
.page-bkg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background-image: url("../img/sands-bkg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 271, ../scss/_global.scss */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 4vw 150px;
}

/* line 278, ../scss/_global.scss */
.home-header {
  display: inline-block;
  margin-bottom: 30px;
}

/* line 283, ../scss/_global.scss */
.home-actions .btn {
  width: auto;
  font-size: 1.4em;
}

/* line 288, ../scss/_global.scss */
h3.home-description {
  margin-top: 30px;
  max-width: 500px;
  font-size: 1em;
}

/* line 295, ../scss/_global.scss */
.newsletter {
  display: none;
}

/* line 300, ../scss/_global.scss */
.headspacer {
  width: 100%;
  height: 200px;
}

/* line 305, ../scss/_global.scss */
.make-wish-button {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  font-size: 1.8em;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
}

/* line 320, ../scss/_global.scss */
.step-number {
  text-align: left;
  display: block;
  padding: 0 0px;
  margin-bottom: 12px;
  font-size: 1.4em;
}
/* line 326, ../scss/_global.scss */
.step-number span {
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 26px;
  border: solid 2px #000;
  padding-top: 5px;
}

/* line 336, ../scss/_global.scss */
.step-details {
  text-align: left;
}
/* line 338, ../scss/_global.scss */
.step-details h5 {
  font-size: 1.1em;
}

/* line 343, ../scss/_global.scss */
.bounce {
  animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  -moz-animation: bounce 3s infinite;
  -o-animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-4px);
  }
  60% {
    -webkit-transform: translateY(-2px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-4px);
  }
  60% {
    -moz-transform: translateY(-2px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-4px);
  }
  60% {
    -o-transform: translateY(-2px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4px);
  }
  60% {
    transform: translateY(-2px);
  }
}
@media (max-width: 992px) {
  /* line 376, ../scss/_global.scss */
  .home-actions .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 4, ../scss/_nav.scss */
nav ul.nav-list li.thispage {
  border-bottom: solid 2px #c18b4c;
}

/* line 9, ../scss/_nav.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 101;
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0);
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 20, ../scss/_nav.scss */
nav .nav-inner {
  display: inline-block;
  width: 100%;
  padding: 0 4vw;
  margin-top: 30px;
  position: relative;
}
/* line 27, ../scss/_nav.scss */
nav .nav-inner .logo-wrapper a.alt-link {
  float: left;
  margin-left: 22px;
  padding: 2px 6px;
  background: none;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  border: none;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  transform: translateY(12px);
  -webkit-transform: translateY(12px);
}
/* line 40, ../scss/_nav.scss */
nav .nav-inner .logo-wrapper a.alt-link:hover {
  color: #fff;
  background-color: #f3c070;
  border-bottom: none;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
}
/* line 47, ../scss/_nav.scss */
nav .nav-inner .logo-wrapper a.alt-link:active {
  transform: translateY(11px);
  -webkit-transform: translateY(11px);
}
/* line 51, ../scss/_nav.scss */
nav .nav-inner .logo-wrapper a.alt-link.disabled {
  display: none;
}
/* line 55, ../scss/_nav.scss */
nav .nav-inner .logo-wrapper a.header-logo {
  float: left;
  width: 97px;
  height: 58px;
  background-image: url("../img/genie-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  border-bottom: none;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 66, ../scss/_nav.scss */
nav .nav-inner .logo-wrapper a.header-logo:hover {
  opacity: 1;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
}
/* line 73, ../scss/_nav.scss */
nav .nav-inner ul.nav-list {
  position: relative;
  float: right;
  margin-left: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}
/* line 79, ../scss/_nav.scss */
nav .nav-inner ul.nav-list .nav-events-wrapper {
  position: relative;
}
/* line 82, ../scss/_nav.scss */
nav .nav-inner ul.nav-list .nav-events-wrapper:hover .nav-events {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
/* line 86, ../scss/_nav.scss */
nav .nav-inner ul.nav-list .nav-events-wrapper:hover .nav-events div {
  pointer-events: auto;
}
/* line 92, ../scss/_nav.scss */
nav .nav-inner ul.nav-list li {
  text-transform: uppercase;
  margin-left: 0px;
  padding: 2px 5px 1px;
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.4em;
  vertical-align: middle;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 101, ../scss/_nav.scss */
nav .nav-inner ul.nav-list li.firstchild {
  margin-left: 0;
}
/* line 104, ../scss/_nav.scss */
nav .nav-inner ul.nav-list li a {
  display: inline-block;
  opacity: 0.95;
}
/* line 107, ../scss/_nav.scss */
nav .nav-inner ul.nav-list li a:hover {
  opacity: 1;
  color: #111;
}
/* line 111, ../scss/_nav.scss */
nav .nav-inner ul.nav-list li a.user-pic {
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 41px;
}
/* line 118, ../scss/_nav.scss */
nav .nav-inner ul.nav-list li .lbl-counter {
  position: absolute;
  top: 8px;
  left: -30px;
  background-color: #d3c6af;
  color: #fff;
  letter-spacing: 0;
  margin-right: -15px;
  min-width: 1.5em;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  padding: 5px 12px;
  text-shadow: 0 1px 4px rgba(30, 30, 30, 0.3);
  cursor: pointer;
}
/* line 133, ../scss/_nav.scss */
nav .nav-inner ul.nav-list li .lbl-counter.new {
  background-color: red;
}
/* line 140, ../scss/_nav.scss */
nav.nav-shrink {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 0 1px 2px 1px rgba(30, 30, 30, 0.05);
}
/* line 144, ../scss/_nav.scss */
nav.nav-shrink .nav-inner {
  margin-top: 14px;
}
/* line 147, ../scss/_nav.scss */
nav.nav-shrink .nav-inner .logo-wrapper a.header-logo {
  width: 65px;
  height: 39px;
}
/* line 150, ../scss/_nav.scss */
nav.nav-shrink .nav-inner .logo-wrapper a.header-logo:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
}
/* line 155, ../scss/_nav.scss */
nav.nav-shrink .nav-inner .logo-wrapper .alt-link {
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}
/* line 161, ../scss/_nav.scss */
nav.nav-shrink .nav-mobile-btn {
  top: 11px;
}
/* line 164, ../scss/_nav.scss */
nav.nav-shrink ul.nav-list li a.user-pic {
  width: 40px;
  height: 40px;
}
/* line 169, ../scss/_nav.scss */
nav .nav-mobile-btn {
  position: absolute;
  top: 30px;
  right: 4vw;
  background-color: rgba(26, 19, 30, 0.3);
  padding: 9px 9px;
  border-radius: 4px;
  z-index: 100;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 180, ../scss/_nav.scss */
nav .nav-mobile-btn img {
  width: 33px;
  opacity: 0.9;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 186, ../scss/_nav.scss */
nav .nav-mobile-btn:hover {
  background-color: #1a131e;
}
/* line 188, ../scss/_nav.scss */
nav .nav-mobile-btn:hover img {
  opacity: 1;
  transform: translateY(-1px);
}
/* line 193, ../scss/_nav.scss */
nav .nav-mobile-btn:active {
  background-color: rgba(26, 19, 30, 0.3);
}
/* line 195, ../scss/_nav.scss */
nav .nav-mobile-btn:active img {
  transform: translateY(0px);
}
/* line 199, ../scss/_nav.scss */
nav .nav-mobile-btn:active {
  color: rgba(255, 255, 255, 0.9);
}
/* line 203, ../scss/_nav.scss */
nav .nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #292728;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
}
/* line 214, ../scss/_nav.scss */
nav .nav-mobile #menu-close {
  background-color: #fff;
  z-index: 2001;
  pointer-events: none;
}
/* line 219, ../scss/_nav.scss */
nav .nav-mobile.active {
  opacity: 1;
  pointer-events: auto;
}
/* line 222, ../scss/_nav.scss */
nav .nav-mobile.active #menu-close {
  pointer-events: auto;
}
/* line 226, ../scss/_nav.scss */
nav .nav-mobile svg {
  margin: 40px auto 20px;
}
/* line 229, ../scss/_nav.scss */
nav .nav-mobile ul {
  padding-left: 0;
}
/* line 231, ../scss/_nav.scss */
nav .nav-mobile ul li {
  border-bottom: solid 1px #292728;
}
/* line 233, ../scss/_nav.scss */
nav .nav-mobile ul li a {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: block;
  padding: 3vh 0 3vh;
  color: #292728;
}
/* line 240, ../scss/_nav.scss */
nav .nav-mobile ul li a:hover {
  color: #292728;
  background-color: rgba(26, 19, 30, 0.1);
}

/* line 2, ../scss/_webapp.scss */
header.hero {
  text-align: center;
}
/* line 4, ../scss/_webapp.scss */
header.hero h1 {
  display: block;
  background-color: #292728;
  font-size: 4.2em;
  font-weight: 200;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
}
/* line 12, ../scss/_webapp.scss */
header.hero .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 220px 4vw 120px;
  text-align: left;
}
/* line 18, ../scss/_webapp.scss */
header.hero .container .hero-content div {
  margin: 15px 0;
}

/* line 30, ../scss/_webapp.scss */
section.app-container {
  display: table;
  min-height: 100vh;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}
/* line 37, ../scss/_webapp.scss */
section.app-container .container-inner {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* line 42, ../scss/_webapp.scss */
section.app-container h2 {
  margin-bottom: 15px;
}
/* line 45, ../scss/_webapp.scss */
section.app-container .app-pane {
  padding: 20px 50px 30px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #fafafa;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #d5d5d5;
  border-left: none;
  border-right: none;
  box-shadow: 0 2px 3px 1px rgba(30, 30, 30, 0.1);
  border-radius: 10px;
  text-align: center;
}
/* line 57, ../scss/_webapp.scss */
section.app-container .app-pane .wish-no {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7px;
  opacity: 0.35;
  cursor: default;
  font-weight: 400;
  letter-spacing: 0.2em;
}
/* line 65, ../scss/_webapp.scss */
section.app-container .app-pane .wish-no img {
  margin-right: 8px;
  height: 16px;
  width: 16px;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
}
/* line 73, ../scss/_webapp.scss */
section.app-container .app-pane h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
/* line 79, ../scss/_webapp.scss */
section.app-container .app-pane p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-size: 0.9em;
  font-weight: 400;
  opacity: 0.7;
}

/* line 91, ../scss/_webapp.scss */
.app-container.row {
  padding: 0 5vw;
}

/* line 94, ../scss/_webapp.scss */
.app-section {
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px -2px 0;
}

/* line 104, ../scss/_webapp.scss */
section.showcase .event-showcase {
  padding: 0 15px 0 15px;
  z-index: 2;
}
/* line 107, ../scss/_webapp.scss */
section.showcase .event-showcase div {
  padding: 0;
  text-align: center;
  color: #fff;
  background-color: rgba(26, 19, 30, 0.5);
  font-size: 1.9em;
  cursor: pointer;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* line 115, ../scss/_webapp.scss */
section.showcase .event-showcase div img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}
/* line 120, ../scss/_webapp.scss */
section.showcase .event-showcase div h4 {
  font-size: 1em;
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-weight: 400;
}
/* line 125, ../scss/_webapp.scss */
section.showcase .event-showcase div p {
  font-size: 0.6em;
  line-height: 1.6em;
  padding: 10px 20px 0;
  pointer-events: none;
}
/* line 131, ../scss/_webapp.scss */
section.showcase .event-showcase div p b {
  display: block;
  margin: 0px auto;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 139, ../scss/_webapp.scss */
section.showcase .event-showcase div:hover {
  color: #1a131e;
  background-color: #fff;
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
}
/* line 144, ../scss/_webapp.scss */
section.showcase .event-showcase div:hover h4, section.showcase .event-showcase div:hover h6, section.showcase .event-showcase div:hover p {
  color: #1a131e;
}
/* line 147, ../scss/_webapp.scss */
section.showcase .event-showcase div:hover p b {
  color: #292728;
}
/* line 149, ../scss/_webapp.scss */
section.showcase .event-showcase div.showcase-jam {
  background-color: #dcf1f4;
}
/* line 152, ../scss/_webapp.scss */
section.showcase .event-showcase div.showcase-rave {
  background-color: #e4efd8;
}
/* line 155, ../scss/_webapp.scss */
section.showcase .event-showcase div.showcase-exhibition {
  background-color: #dcd4e8;
}

/* line 169, ../scss/_webapp.scss */
section.statement .container h2 {
  display: inline;
  background-color: #292728;
  line-height: 1.3em;
  font-size: 1.8em;
  font-weight: 300;
}
/* line 176, ../scss/_webapp.scss */
section.statement .container h3 {
  display: block;
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;
  background-color: #292728;
}
/* line 183, ../scss/_webapp.scss */
section.statement .container h4 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  background-color: #292728;
}
/* line 189, ../scss/_webapp.scss */
section.statement .container h5, section.statement .container h6 {
  font-size: 1.4em;
  background-color: #292728;
  opacity: 1;
}
/* line 194, ../scss/_webapp.scss */
section.statement .container h5 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 199, ../scss/_webapp.scss */
section.statement .container h6 {
  font-weight: 300;
  color: #fff;
}
/* line 203, ../scss/_webapp.scss */
section.statement .container p {
  display: inline-block;
  line-height: 1.5em;
  background-color: #292728;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.75);
}
/* line 209, ../scss/_webapp.scss */
section.statement .container p.img-bkg {
  width: 100%;
  text-align: center;
}
/* line 214, ../scss/_webapp.scss */
section.statement .container a {
  font-weight: 500;
}
/* line 217, ../scss/_webapp.scss */
section.statement .container a:hover img {
  moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background-color: #fff;
  opacity: 0.75;
}
/* line 224, ../scss/_webapp.scss */
section.statement .container img {
  max-width: 100%;
  margin: 0 auto 10px;
  moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 229, ../scss/_webapp.scss */
section.statement .container ul {
  background-color: rgba(26, 19, 30, 0.5);
  margin-bottom: 30px;
}
/* line 231, ../scss/_webapp.scss */
section.statement .container ul li {
  font-size: 1.3em;
  font-weight: 200;
  margin-bottom: 10px;
  background-color: #292728;
}
/* line 236, ../scss/_webapp.scss */
section.statement .container ul li a {
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
}
/* line 238, ../scss/_webapp.scss */
section.statement .container ul li a:hover {
  border-bottom: solid 2px white;
}
/* line 245, ../scss/_webapp.scss */
section.statement .container .feature {
  text-align: center;
  margin-bottom: 40px;
}
/* line 249, ../scss/_webapp.scss */
section.statement .container .next-event {
  margin-bottom: 40px;
}
/* line 252, ../scss/_webapp.scss */
section.statement .container .sub-link {
  display: block;
  margin: 5px auto 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.9em;
  font-weight: 300 !important;
}

/* line 269, ../scss/_webapp.scss */
section.get-involved .container .col-md-3, section.get-involved .container .col-md-4 {
  margin-bottom: 30px;
}
/* line 271, ../scss/_webapp.scss */
section.get-involved .container .col-md-3 div, section.get-involved .container .col-md-4 div {
  background-color: rgba(26, 19, 30, 0.5);
}
/* line 275, ../scss/_webapp.scss */
section.get-involved .container h2 {
  font-weight: 300;
  background-color: #292728;
}
/* line 279, ../scss/_webapp.scss */
section.get-involved .container h4 {
  background-color: #292728;
}
/* line 282, ../scss/_webapp.scss */
section.get-involved .container p {
  display: inline;
  background-color: #292728;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.75);
}
/* line 287, ../scss/_webapp.scss */
section.get-involved .container p span {
  font-size: 0.85em;
}
/* line 291, ../scss/_webapp.scss */
section.get-involved .container a {
  margin-top: 10px;
}

/* line 298, ../scss/_webapp.scss */
.getinvolved .get-involved .container {
  padding-bottom: 80px;
}

/* line 305, ../scss/_webapp.scss */
section.newsletter .container {
  text-align: center;
}
/* line 307, ../scss/_webapp.scss */
section.newsletter .container .newsletter-signup {
  max-width: 550px;
  margin: 0 auto;
}
/* line 310, ../scss/_webapp.scss */
section.newsletter .container .newsletter-signup input {
  width: 500px;
  max-width: 100%;
  text-align: center;
}
/* line 316, ../scss/_webapp.scss */
section.newsletter .container h4 {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
/* line 321, ../scss/_webapp.scss */
section.newsletter .container .p-wrapper {
  margin-bottom: 20px;
}
/* line 323, ../scss/_webapp.scss */
section.newsletter .container .p-wrapper p {
  display: inline;
  line-height: 1.4em;
}
/* line 328, ../scss/_webapp.scss */
section.newsletter .container .subtle {
  margin-top: 20px;
  font-size: 0.9em;
}

/* line 339, ../scss/_webapp.scss */
section.partners .container {
  text-align: center;
}
/* line 341, ../scss/_webapp.scss */
section.partners .container .partners-header {
  margin-bottom: 20px;
  padding: 0 15px;
}
/* line 344, ../scss/_webapp.scss */
section.partners .container .partners-header h4 {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  background-color: #292728;
  z-index: 1;
}
/* line 353, ../scss/_webapp.scss */
section.partners .container .partners-list {
  margin-bottom: 50px;
  text-align: center;
}
/* line 357, ../scss/_webapp.scss */
section.partners .container .partners-list h6 {
  opacity: 1;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3em;
  display: inline;
  background-color: #292728;
}

/* line 374, ../scss/_webapp.scss */
footer.page-foot .container {
  max-width: none;
  padding-bottom: 0;
}
/* line 377, ../scss/_webapp.scss */
footer.page-foot .container .pad {
  padding: 0 15px 0 15px;
}
/* line 380, ../scss/_webapp.scss */
footer.page-foot .container aside {
  padding-right: 120px;
  padding-top: 5px;
  padding-left: 5px;
}
/* line 384, ../scss/_webapp.scss */
footer.page-foot .container aside img {
  width: 80px;
  margin-bottom: 20px;
}
/* line 388, ../scss/_webapp.scss */
footer.page-foot .container aside p {
  font-size: 1em;
}
/* line 391, ../scss/_webapp.scss */
footer.page-foot .container aside .copyright {
  display: block;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  margin-bottom: 10px;
}
/* line 399, ../scss/_webapp.scss */
footer.page-foot .container ul {
  padding-left: 0;
}
/* line 401, ../scss/_webapp.scss */
footer.page-foot .container ul li {
  letter-spacing: 0.25em;
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 6px;
  list-style: none;
}
/* line 406, ../scss/_webapp.scss */
footer.page-foot .container ul li a {
  display: inline;
  text-transform: uppercase;
  border-bottom: solid 2px transparent;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
/* line 412, ../scss/_webapp.scss */
footer.page-foot .container ul li a:hover {
  color: #111;
  border-bottom: solid 2px #1e1e1e;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}
/* line 419, ../scss/_webapp.scss */
footer.page-foot .container ul li a.alt-link {
  margin-bottom: 6px;
  color: #fff;
  background-color: #c18b4c;
  letter-spacing: 0;
  border-bottom: none;
}
/* line 425, ../scss/_webapp.scss */
footer.page-foot .container ul li a.alt-link:hover {
  background-color: #29262b;
  border-bottom: none;
}

/* line 436, ../scss/_webapp.scss */
ul.wish-menu {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 30px;
}
/* line 440, ../scss/_webapp.scss */
ul.wish-menu li {
  display: inline-block;
  width: 40%;
  height: 140px;
  border-radius: 26px;
  border: solid 2px #000;
  margin: 10px 5px;
  padding: 20px 30px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 449, ../scss/_webapp.scss */
ul.wish-menu li span {
  display: table;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}
/* line 455, ../scss/_webapp.scss */
ul.wish-menu li span i {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  font-style: normal;
}
/* line 460, ../scss/_webapp.scss */
ul.wish-menu li span i h2 {
  font-weight: 700;
  font-size: 1.6em;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
/* line 467, ../scss/_webapp.scss */
ul.wish-menu li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: translateY(-2px);
}
/* line 472, ../scss/_webapp.scss */
ul.wish-menu li:active {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-1px);
  border-color: #be9461;
}
/* line 476, ../scss/_webapp.scss */
ul.wish-menu li:active span i h2 {
  color: #be9461;
}
/* line 480, ../scss/_webapp.scss */
ul.wish-menu li.disabled {
  opacity: 0.2;
  pointer-events: none;
}

/* line 487, ../scss/_webapp.scss */
.work-request, .user-account {
  text-align: left;
  padding: 20px 5vw;
  border: solid 2px #000;
  border-radius: 20px;
}
/* line 488, ../scss/_webapp.scss */
.work-request .sidebar-head, .work-request .work-head, .user-account .sidebar-head, .user-account .work-head {
  height: 100px;
}
/* line 495, ../scss/_webapp.scss */
.work-request h2, .user-account h2 {
  font-size: 1.4em;
  font-weight: 600;
}
/* line 499, ../scss/_webapp.scss */
.work-request .work-field, .user-account .work-field {
  position: relative;
  border-bottom: solid 2px #000;
  margin-bottom: 8px;
}
/* line 503, ../scss/_webapp.scss */
.work-request .work-field label, .user-account .work-field label {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}
/* line 512, ../scss/_webapp.scss */
.work-request .work-field input, .user-account .work-field input {
  width: 100%;
  border: none;
  outline: none;
  text-align: right;
  font-size: 1.5em;
  background: transparent;
}
/* line 520, ../scss/_webapp.scss */
.work-request .work-field.notes, .user-account .work-field.notes {
  padding-top: 5px;
  border-bottom: none;
}
/* line 523, ../scss/_webapp.scss */
.work-request .work-field.notes label, .user-account .work-field.notes label {
  top: 14px;
  bottom: auto;
}
/* line 527, ../scss/_webapp.scss */
.work-request .work-field.notes textarea, .user-account .work-field.notes textarea {
  width: 100%;
  height: 176px;
  border: none;
  padding: 0 0 0 80px;
  background: transparent;
  background-attachment: local;
  background-image: linear-gradient(to right, transparent 0px, transparent 0px), linear-gradient(to left, transparent 0px, transparent 0px), repeating-linear-gradient(transparent, transparent 41px, #000 41px, #000 43px, transparent 43px);
  line-height: 44px;
}
/* line 539, ../scss/_webapp.scss */
.work-request .work-field.notes textarea:focus, .user-account .work-field.notes textarea:focus {
  outline: none;
}

/* line 547, ../scss/_webapp.scss */
.section-description {
  font-size: 1em;
  text-align: left;
}

/* line 551, ../scss/_webapp.scss */
.subtext {
  font-size: 0.8em;
  text-align: left;
}

/* line 556, ../scss/_webapp.scss */
.sidebar-section {
  margin-bottom: 20px;
}

/* line 560, ../scss/_webapp.scss */
.uploaded-ref {
  margin-top: 8px;
  padding: 2px 1px 2px 5px;
  border: solid 2px #000;
  border-radius: 8px;
  max-width: 80%;
}
/* line 566, ../scss/_webapp.scss */
.uploaded-ref span {
  float: right;
  display: inline-block;
  padding: 1px 8px;
  margin-top: -1px;
  cursor: pointer;
  border-radius: 6px;
}
/* line 573, ../scss/_webapp.scss */
.uploaded-ref span:hover {
  color: #fff;
  background-color: #000;
}

/* line 579, ../scss/_webapp.scss */
.ref-upload {
  margin-top: 10px;
  margin-bottom: 8px;
  display: inline-block;
  padding: 8px 14px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* line 591, ../scss/_webapp.scss */
.work-references .subtext {
  display: inline-block;
}

/* line 595, ../scss/_webapp.scss */
.lbl-counter {
  background-color: #d3c6af;
  color: #fff;
  letter-spacing: 0;
  margin-right: -15px;
  min-width: 1.5em;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  padding: 5px 12px;
  text-shadow: 0 1px 4px rgba(30, 30, 30, 0.3);
  cursor: pointer;
}
/* line 607, ../scss/_webapp.scss */
.lbl-counter.new {
  background-color: red;
}

/* line 612, ../scss/_webapp.scss */
.user-account {
  padding: 20px 5vw;
  border: solid 2px #000;
  border-radius: 20px;
}
/* line 616, ../scss/_webapp.scss */
.user-account .nav-tabs {
  text-align: center;
  margin-bottom: 100px;
}
/* line 620, ../scss/_webapp.scss */
.user-account .nav-tabs .nav-item {
  width: 33.2%;
}

/* line 625, ../scss/_webapp.scss */
.user-account {
  border: none;
}

/* line 629, ../scss/_webapp.scss */
.wish-item {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: solid 2px #000;
  margin-bottom: 30px;
}
/* line 635, ../scss/_webapp.scss */
.wish-item .wish-details {
  margin-top: 5px;
}
/* line 638, ../scss/_webapp.scss */
.wish-item .wish-detail-note {
  margin-top: 6px;
  font-size: 0.9em;
}
/* line 642, ../scss/_webapp.scss */
.wish-item .wish-detail-color {
  margin-top: 8px;
  padding: 2px 5px;
  display: inline-block;
  border: solid 2px #000;
  border-radius: 5px;
  font-size: 0.8em;
}
/* line 650, ../scss/_webapp.scss */
.wish-item .wish-detail-ref {
  display: block;
  border: solid 2px #000;
  border-radius: 5px;
  padding: 2px 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: 700;
}
/* line 658, ../scss/_webapp.scss */
.wish-item .wish-detail-ref::after {
  float: right;
  content: "Download";
}
/* line 663, ../scss/_webapp.scss */
.wish-item .wish-item-actions {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
/* line 669, ../scss/_webapp.scss */
.wish-item .complete-work img {
  max-width: 100%;
  margin-bottom: 20px;
}

/* line 679, ../scss/_webapp.scss */
.about header h1 {
  /*font-size:3em;*/
  font-weight: 200;
}
/* line 684, ../scss/_webapp.scss */
.about section.statement .container {
  /*padding-top:0;*/
}

/* line 690, ../scss/_webapp.scss */
.events .event-showcase {
  margin-top: 180px;
}

@media (max-width: 1100px) {
  /* line 3, ../scss/_mediaquery.scss */
  nav .nav-mobile-btn {
    pointer-events: auto;
    opacity: 1;
  }

  /* line 9, ../scss/_mediaquery.scss */
  .switch-style {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    width: 100%;
    border-radius: 0;
    border: none;
    margin-bottom: 30px;
  }

  /* line 19, ../scss/_mediaquery.scss */
  footer {
    display: none;
  }

  /* line 22, ../scss/_mediaquery.scss */
  .rave .next-event .p-wrapper {
    padding-left: 0px;
  }

  /* line 26, ../scss/_mediaquery.scss */
  .meta .switch-style {
    border: none;
  }
}
@media (max-width: 768px) {
  /* line 33, ../scss/_mediaquery.scss */
  nav .alt-link {
    display: none;
  }

  /* line 38, ../scss/_mediaquery.scss */
  header.hero h1 {
    font-size: 2.3em;
    font-weight: 300;
  }

  /* line 43, ../scss/_mediaquery.scss */
  .alt-link {
    width: 100%;
  }

  /* line 48, ../scss/_mediaquery.scss */
  .next-event .next-event-body a.btn {
    width: 100%;
  }

  /* line 52, ../scss/_mediaquery.scss */
  section.partners .container .partners-list {
    margin-bottom: 0;
  }

  /* line 55, ../scss/_mediaquery.scss */
  section.partners .container .partners-header {
    margin-top: 50px;
  }
}
/* line 2, ../scss/_bootstrap-overrides.scss */
.bg-primary {
  background: #c18b4c;
  background: -webkit-linear-gradient(#c18b4c, #b57e3f);
  background: linear-gradient(#c18b4c, #b57e3f);
}

/* line 8, ../scss/_bootstrap-overrides.scss */
button, a.btn {
  border-radius: 2px;
  outline: none;
  border: none;
}
/* line 12, ../scss/_bootstrap-overrides.scss */
button:hover, a.btn:hover {
  background-color: #f3c070;
  color: #000;
  transform: translateY(-2px);
}
/* line 17, ../scss/_bootstrap-overrides.scss */
button:active, a.btn:active {
  transform: translateY(-1px);
  outline: none;
}
/* line 21, ../scss/_bootstrap-overrides.scss */
button::focus, a.btn::focus {
  outline: none;
}

/* line 25, ../scss/_bootstrap-overrides.scss */
a.btn-primary {
  background-color: #000;
  color: #fff;
}
/* line 28, ../scss/_bootstrap-overrides.scss */
a.btn-primary:hover {
  color: #000;
  background-color: #f3c070;
}

/* line 33, ../scss/_bootstrap-overrides.scss */
a.btn-secondary {
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

/* line 39, ../scss/_bootstrap-overrides.scss */
.text-primary {
  color: #c18b4c;
}

/* line 43, ../scss/_bootstrap-overrides.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 49, ../scss/_bootstrap-overrides.scss */
.nav-tabs {
  border: none;
  border-width: 0;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* line 56, ../scss/_bootstrap-overrides.scss */
.nav-tabs:hover {
  border: none;
}
/* line 59, ../scss/_bootstrap-overrides.scss */
.nav-tabs .nav-item {
  margin-bottom: 0;
}

/* line 65, ../scss/_bootstrap-overrides.scss */
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-item:hover {
  border: none;
  border-color: transparent;
  box-shadow: none;
  border-width: 0;
}

/* line 71, ../scss/_bootstrap-overrides.scss */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 6px;
  font-weight: 700;
}

@media (min-width: 1320px) {
  /* line 82, ../scss/_bootstrap-overrides.scss */
  .container {
    position: relative;
    max-width: 1300px;
  }
}
