// Global styling for this template
html,
body {
    width: 100vw;
    height: 100%;
    background-color:#d3c6af;
    color:#fff;
}

html {
    overflow-x:hidden;
    overflow-y:scroll;
}

::-moz-selection { 
    color:$theme-bkg;
    background-color:#e8d8ba;
}
::selection {
    color:$theme-bkg;
    background-color:#ead9bb;
}

body {
    @include body-font;
}

section {
    max-width:100vw;
}

a {
    color: $theme-primary;
    border-bottom:solid 2px fade-out($theme-primary, .8);
    @include transition-all;
    &:hover,
    &:focus {
        color: $theme-primary;
        text-decoration:none;
        border-bottom:solid 2px fade-out($theme-primary, .1);
    }
    &.alt-link {
        display:inline-block;
        background-color:#fff;
        color:$theme-primary;
        font-weight:800;
        text-transform:uppercase;
        padding:2px 9px 2px 8px;
        border-radius:1px;
        &:hover {
            background-color:$theme-primary;
            color:#fff;
            transform:translateY(-2px);
            -webkit-transform:translateY(-2px);
        }
    }
}
button {
    outline:none;
    border:none;
    &:hover {
        outline:none;
        border:none;
    }
    &:focus {
        outline:none;
        border:none;
    }
    &:active {
        outline:none;
        border:none;
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}
h1 {
    font-size:3.9em;
    font-weight:200;
}

h2 {
    font-weight:500;
    font-size:2em;
    text-transform:uppercase;
    letter-spacing:0.1em;
}

h3 {
    display:inline-block;
    margin-bottom:20px;
    line-height:1.5em;
    font-size:1.3em;
}
h4 {
    text-transform:uppercase;
    letter-spacing:0.4em;
    font-weight:700;
    font-size:1.2em;
}

h5 {
    font-size:0.9em;
    font-weight:900;
}

h6 {
    font-size:0.7em;
    color:rgba(255,255,255,0.7);
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 20px;
}

.p-wrapper {
    margin-bottom:40px;
}

b {
    font-weight:500;
}

input[type=email] {
    padding:5px 10px;
    outline:none;
    border:solid 2px #111;
    border-radius:7px;
    color:#111;
    background-color:rgba(30,30,30,0.08);
    font-size:1.4em;
    font-weight:300;
    @include fade;
    &::placeholder {
        color:rgba(30,30,30,0.5);
        @include fade;
    }
    &:hover {
        background-color:rgba(30,30,30,0.055);
    }
    &:focus::-webkit-input-placeholder { color:transparent; }
    &:focus:-moz-placeholder { color:transparent; }
}
input[type=submit] {
    margin-top:10px;
    background-color:$theme-primary;
    color:#fff;
    font-weight:400;
    text-shadow: 0px 2px rgba(30,30,30,0.2);
    font-size:1em;
    text-transform:uppercase;
    letter-spacing:0.3em;
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:2px;
    padding:5px;
    @include fade;
    &:disabled {
        pointer-events:none;
        opacity:0.3;
        transform:translateY(0px);
        -webkit-transform:translateY(0px);
    }
    &:hover {
        color:$theme-primary;
        background-color:#29262b;
    }
}

.btn.disabled, .btn:disabled {
    opacity:0.3;
    pointer-events:none;
}

button {
    background-color:white;
    color:black;
    border-radius:2px;
    padding: 12px 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight:500;
    font-size:1.7em;
    cursor:pointer;
    width:100%;
    border:none;
    outline:none;
    @include fade();
    &:hover {
        background-color:black;
        color:white;
    }
}

a.btn {
    margin-top:5px auto 10px;
    padding:14px 24px;
    min-width:200px;
    background-color: $theme-primary;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing:0.15em;
    text-transform: uppercase;
    outline:none;
    cursor:pointer;
    &:hover, &:active {
        color:#fff;
        outline:none;
        transform:translateY(-2px);
        -webkit-transform:translateY(-2px);
    }
    &::focus {
        outline:none;
    }
}

li {
    list-style: none;
}

.primary-glow {
    box-shadow: 0 2px 60px 3px rgba(138, 199, 195, 0.15);
    &:hover {
        box-shadow: 0 2px 60px 2px rgba(138, 199, 195, 0.35);
    }
}

.faint {
    opacity:0.15;
    &:hover {
        opacity:1;
    }
}

.page-bkg {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    @include fade;
    background-image:url("../img/sands-bkg.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container {
    margin:0 auto;
    width:100%;
    max-width:1300px;
    padding:0 4vw 150px;
}

.home-header {
    display: inline-block;
    margin-bottom: 30px;
}
.home-actions {
    .btn {
        width:auto;
        font-size:1.4em;
    }
}
h3.home-description {
    margin-top:30px;
    max-width: 500px;
    font-size: 1em;
}


.newsletter {
    display: none;
}



@media (max-width: 992px) {
    .home-actions {
        .btn {
            width:100%;
            margin-bottom:10px;
        }
    }
}
@media (min-width: 1200px) {}
@media (min-width: 1320px) {}

